# 1. Virtual Environment
# This is the most important one. Never commit your venv!
/venv/
.venv/

# 2. Standard Python Cache
# This will ignore all __pycache__ folders and .pyc files
# everywhere in your project.
**/__pycache__/
*.pyc

# 3. IDE / OS files
.vscode/
.idea/