{% extends "base.html" %}

{% block title %}About - Edukate{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-1">About</h1>
            <div class="d-inline-flex text-white mb-5">
                <p class="m-0 text-uppercase"><a class="text-white" href="/">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">About</p>
            </div>
            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Modules</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Modules</a>
                            <a class="dropdown-item" href="#">Instructor</a>
                        </div>
                    </div>
                    <input type="text" class="form-control border-light" style="padding: 30px 25px;" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="row mx-0 justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center position-relative mb-5">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Instructors</h6>
                        <h1 class="display-4">Meet Our Certified & Experienced Instructors</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 pb-4">
                    <div class="team-item">
                        <img class="img-fluid mb-4" src="{{ url_for('static', filename='img/team-1.jpg') }}" alt="">
                        <div class="bg-light p-4">
                            <h4 class="mb-3">Ada Lovelace</h4>
                            <p class="m-0">Web Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-4">
                    <div class="team-item">
                        <img class="img-fluid mb-4" src="{{ url_for('static', filename='img/team-2.jpg') }}" alt="">
                        <div class="bg-light p-4">
                            <h4 class="mb-3">Alan Turing</h4>
                            <p class="m-0">Web Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-4">
                    <div class="team-item">
                        <img class="img-fluid mb-4" src="{{ url_for('static', filename='img/team-6.jpg') }}" alt="">
                        <div class="bg-light p-4">
                            <h4 class="mb-3">Valerie Angela</h4>
                            <p class="m-0">Web Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-4">
                    <div class="team-item">
                        <img class="img-fluid mb-4" src="{{ url_for('static', filename='img/team-4.jpg') }}" alt="">
                        <div class="bg-light p-4">
                            <h4 class="mb-3">Timmy Turner</h4>
                            <p class="m-0">Web Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}